<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h1>
        <p>
          <strong>
            <%= @restaurant.name %>
          </strong>
        </p>
      </h1>

      <h3>
        <p>
          <%= @restaurant.description %>
        </p>
      </h3>
      <% if current_user == @restaurant.user %>
        <%= button_to 'Edit', edit_restaurant_path(@restaurant), method: :get %>
        <%= button_to 'Delete', @restaurant, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>

      <div align='left'>
        <%= stars(@restaurant.average_rating).html_safe %>
        <h5>Average Rating: <%=(@restaurant.average_rating).round(1)%>/5.0</h5>
      </div>

    <% if @restaurant.user != current_user && not_already_reviewed? %>
      <h4>Add a review:</h4>
      <%= render 'reviews/form', review: @review %>
    <% end %>
    </div>

    <div class="col-lg-5">
      <h2>Reviews</h2>
      <table class="table no-border">
        <tbody>
          <% @restaurant.reviews.each do |review| %>
          <% if review.id %>
            <tr>
              <td style="width:130px"><%= stars(review.rating).html_safe %></td>
              <td><h4><%= review.user ? review.user.username : "Anonymous" %></h4></td>
            </tr>
            <tr>
              <td>
                <% if current_user == review.user %>
                <%= button_to 'Delete', restaurant_review_path(@restaurant, review), method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
              <td><%= review.comments %></td>
            </tr><br>
            <% end %>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
  <div class="row" style="position:absolute;bottom:0">
    <div class="col-lg-30">
      <h3 id="notice"><%= notice %></h3>
    </div>
  </div>

</div>
