<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<h2>Reviews</h2>
<table>
  <tbody>
    <% @restaurant.reviews.each do |review| %>
      <tr>
        <td><%= review.rating %></td>
        <td><%= review.comments %></td>
        <td><%= review.user ? review.user.username : "Anonymous" %></td>
        <% p review.user %>
      </tr>
    <% end %>
  </tbody>
</table>

<% p "r user = " + @restaurant.user.to_s %>
<% p "current user" + current_user.to_s %>
<% if @restaurant.user != current_user %>
  <h2>Add a review:</h2>
  <%= form_with(model: [ @restaurant, @restaurant.reviews.build ]) do |form| %>
    <p>
      <%= form.label :rating %><br>
      <%= form.text_field :rating %>
    </p>
    <p>
      <%= form.label :comments %><br>
      <%= form.text_area :comments %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
