<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @review.comments %>
</p>

<%= link_to 'Edit', edit_restaurant_review_path(@restaurant, @review) %> |
<%= link_to 'Back', restaurant_reviews_path(@restaurant) %>
